* {
  box-sizing: border-box;
}

body {
  font-family: $mono;
  color: $font-color--dark;
  background-color: $background;
  margin: 0;
  padding: 0;
}

.pagebreak--light {
  padding: 40px 0;
  background: white;
  border-bottom: 1px solid $borders;
}

a {
  color: $teal-dark;
  text-decoration: none;
  transition: all .2s ease-in-out;
  &:hover {
    lighten: $teal-dark(5%);
  }
  &.inverted {
    color: $background;
    &:hover {
      color: white;
    }
  }
}

img {
  max-width: 100%;
}

hr {
  border: none;
  border-top: 1px solid $borders;
  margin: 2rem 0;
}

.page-header {
  margin-top: 20px;
  h1 {
     
  }
}