$button-colors: (
  btn-black $black white,
  btn-teal $teal white,
  btn-salmon $salmon white,
  btn-twitter $twitter white,
  btn-facebook $facebook white
);
.btn,
a.btn,
button.btn {
  border: none;
  border-radius: 2px;
  font-family: $mono;
  font-weight: normal;
  font-size: .85rem;
  text-transform: uppercase;
  text-align: center;
  min-width: 4rem;
  height: 2.5rem;
  line-height: 2.6rem;
  padding: 0 1rem;
  display: inline-block;
  cursor: pointer;
  -webkit-appearance: none !important;
  @each $color in $button-colors {
    &.#{nth($color, 1)} {
      background-color: #{nth($color, 2)};
      color: #{nth($color, 3)};
      // top: -1px;
      &:hover {
        background-color: darken(nth($color, 2), 5%);
        box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.25);
      }
      &:active, &:focus {
        background-color: darken(nth($color, 2), 8%);
        outline: none !important;
        box-shadow: none;
        // top: 0;
      }
      &[disabled] {
        opacity: 1;
        color: rgba(white, 0.5);
        background-color: rgba(nth($color, 2), 0.25);
      } 
    }
  }
}

// Button Sizes
.btn {
  &.btn-lg {
    height: 4rem;
    line-height: 4.1rem;
    padding: 0 2rem;
    font-size: 1.2rem;
  }
  &.btn-sm {
    font-size: .7rem;
    padding: 0 1rem;
    height: 2rem;
    line-height: 2.1rem;
  }
  &.btn-block {
    width: 100%;
  }
}