p {
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: $text;
}

.heading {
  margin-bottom: 2em;

  &.-large {
    font-size: $font-size--lg;
    font-weight: bold;
    line-height: $half-space * 3 / 2;
  }

  &.-medium {
    font-size: $font-size--md;
    font-weight: normal;
    line-height: $half-space;
  }

  &.-small {
    font-size: $font-size--sm;
    font-weight: bold;
    line-height: $half-space * 2 / 3;
  }

  &.-smallest {
    font-size: $font-size--xs;
    font-weight: bold;
  }
}

h1 {
  @extend .heading.-large;
}

h2 {
  @extend .heading.-medium;
}

h3 {
  @extend .heading.-small;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: $serif;
}

h1 {
  font-size: 40px;
  line-height: normal;
  margin-bottom: 20px;
}

h2 {
  font-size: 32px;
  line-height: normal;
  font-weight: normal;
  margin-bottom: 20px;
}

p.lead {
  font-size: 1.2rem;
  line-height: 2rem;
  margin: 0 0 1.5rem 0;
}