p {
  margin: 0 0 1rem 0;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: $sans;
  color: $text;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: normal;
  font-weight: normal;
  font-family: $display;
}

h1 {
  font-size: 4rem;
  line-height: normal;
  // margin-bottom: 20px;
}

h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

p.lead {
  font-size: 1.2rem;
  line-height: 2rem;
  margin: 0 0 1.5rem 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.caps {
  text-transform: uppercase;
  letter-spacing: 1px;
}